{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="form_container">
            <h2 class="titulo">Cambio de contraseña</h2>
            {{ form_start(form) }}
            {{ form_row(form) }}
            <div class="button_container">
                <button type="submit" class="primaryButton">Guardar</button>
                <a href="{{ path('main') }}" class="secondaryButton"><i class="ti ti-arrow-left"></i>Volver</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}