{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    <div class="login_container">
        <div class="login_form_container">
            <form method="post">
                <h2>CommunWheels</h2>
                <h3>Iniciar sesión</h3>
                {% if error %}
                    <h2 style="color: red">{{ error.message }}</h2>
                {% endif %}
                <input type="text" value="{{ last_username }}" name="_username" placeholder="Usuario" required {% if not error %}autofocus{% endif %}>
                <input type="password" name="_password" placeholder="Contraseña" required {% if error %}autofocus{% endif %}>
                <div class="buttons">
                    <button type="submit" class="primaryButton">Entrar</button>
                </div>
            </form>
        </div>
        <div class="logo">
            <img src="{{ asset('images/LogoCommunWheelsWhite2.png') }}" alt="Logo">
        </div>
    </div>
{% endblock %}