{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link href="{{ asset('css/login.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="background-highlight">
        <div class="login-container">
            <div class="placeholder-image">
                <img src="{{ asset('images/LogoCommunWheels.png') }}" alt="Logo" >
            </div>
            <h1>Iniciar sesión</h1>
            {% if error %}
                <h2 style="color: red">{{ error.message }}</h2>
            {% endif %}
            <form method="post">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="_username" required value="{{ last_username }}">
                <label for="password">Contraseña:</label>
                <div class="password-container">
                    <input type="password" id="password" name="_password" required {% if error %}autofocus{% endif %}>
                    <button type="button" id="togglePassword" class="toggle-password">
                        <i class="ti ti-eye-off"></i>
                    </button>
                </div>
                <button type="submit" class="primaryButton">Iniciar Sesión</button>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordInput = document.getElementById('password');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.innerHTML = type === 'password' ? '<i class="ti ti-eye-off"></i>' : '<i class="ti ti-eye"></i>';
        });
    </script>
{% endblock %}