{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if is_granted('ROLE_GROUP_ADMIN') %}
            {% include 'users/card.html.twig' %}
        {% endif %}
        {% include 'groups/card.html.twig' %}
        {% include 'notify/card.html.twig' %}
    </div>
{% endblock %}