{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if is_granted('ROLE_GROUP_ADMIN') %}
            {% include 'Users/card.html.twig' %}
            {% include 'TimeTable/card.html.twig' %}
        {% endif %}
        {% include 'Groups/card.html.twig' %}
        {% include 'Notify/card.html.twig' %}
    </div>
{% endblock %}