{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form_container">
            <h2>Eliminar grupo</h2>
            <p>La notificacion de ausencia de {{ absence.driver }} ser치 eliminada de la aplicaci칩n.
                La operaci칩n no se puede deshacer.</p>
            <form method="post" class="button_container">
                <a href="{{ path('notify_main') }}" class="secondaryButton">Volver al listado</a>
                <button type="submit" name="confirmar" class="deleteButton">Confirmar eliminaci칩n</button>
            </form>
        </div>
    </div>
{% endblock %}

