{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="table_container">
            <div class="button_container">
                <a href="#" class="primaryButton"><i class="ti ti-table-plus"></i>Generar Cuadrante</a>
            </div>
            <table class="tabla">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Id grupo</th>
                </tr>
                </thead>
                <tbody>
                {% for group in timeTablesGroup %}
                    <h2 class="titulo">{{ group.id }}</h2>
                    <h2 class="titulo">{{ group }}</h2>
                {% endfor %}
                </tbody>
            </table>
            <div class="button_container">
                <a href="{{ path('timetable_main') }}" class="primaryButton"><i class="ti ti-table-plus"></i>Volver</a>
            </div>
        </div>
    </div>
{% endblock %}

