{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="titulo">Detalles del cuadrante</h1>
        <h2 class="titulo">Cuadrante del grupo con ID: {{ group.id }}</h2>
        <div class="form_container">
            <h2>{{ timeTable.band.name }}</h2>
            <h2>{{ timeTable.weekStartDate | date('d/m/y') }}</h2>
        </div>
        <div class="button_container">
            <a href="{{ path('timetable_main', {'id':group.id}) }}" class="secondaryButton"><i
                        class="ti ti-arrow-left"></i>Volver</a>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if success is defined and success %}
            Swal.fire({
                title: '¡Cuadrante creado con éxito!',
                text: 'El nuevo cuadrante ha sido creado exitosamente.',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
            {% endif %}
        });
    </script>
{% endblock %}
