{% extends 'base.html.twig' %}

{% block title %}Hello NonSchoolDayController!{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="titulo">Días festivos</h2>
        <div class="button_container">
            <a href="{{ path('timetable_mod', {'id':group}) }}" class="secondaryButton"><i class="ti ti-arrow-left"></i>Volver</a>
        </div>
        <div class="table_container">
            <table class="tabla">

            </table>
        </div>
    </div>
{% endblock %}
