{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(group) }}
    <div class="container">
        <a href="{{ path('group_main') }}" class="secondaryButton">Volver</a>
        <a href="#" class="deleteButton">Borrar grupo</a>
    </div>
{% endblock %}

