:root{
    --text-color: hsl(190, 20%, 50%);
    --hover-color: #CCDBDC;
    --original-back-color: #263D42;
    --back-color: hsla(192, 19%, 15%);
    --back-color-blur: hsla(192, 19%, 15%, 0.25);
        --primary-button: #63C7B2;
        --primary-button-hover: hsla(168, 58%, 73%, 1);
    --secondary-button: #80CED7;
    --secondary-button-hover: hsla(184, 50%, 80%, 1);
    --delete-button: #8E6C88;
    --delete-button-hover: hsla(294, 33%, 70%, 1);
}
body{
    background-color: var(--original-back-color);
    color: var(--text-color);
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; /* Fuente similar a MUI */
}
.container{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem;
    justify-content: space-around;
    justify-content: center;
    gap: 0 60px;
}
/**

CSS FOR CARD

 */
.card{
    height: auto;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #CCDBDC;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-size: xx-large;
    text-align: center;

}
.card:hover{
    background-color: var(--back-color);
    cursor: pointer;
    transform: scale(1.05);
}
@media(max-width: 1060px){
    .logo{
        display: none;
    }
    .container{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
    }
    .card{
        width: 100%;
        padding-top: 1rem;
    }
}
@media(max-width: 700px){
    .container{
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
    }
    .card{
        width: 100%;
        padding-top: 1rem;
    }
}
/**

CSS FOR TABLE AND TABLE CONTAINER

 */
.table_container{
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
}
.table_container a{
    text-decoration: none;
    color: var(--text-color);
}
.link_td:hover{
    background-color: var(--hover-color);
    color: var(--back-color);
    cursor: pointer;
}
.tabla, thead, tbody, tr, th, td{
    border: 1px solid var(--text-color);
    padding: 1rem;
    border-collapse: collapse;
    text-align: center;
}
thead{
    background-color: var(--back-color);
}
/**

CSS FOR PRIMARY BUTTON

 */
.primaryButton{
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--primary-button);
    text-decoration: none;
    font-size: large;
    color: var(--original-back-color);
}
.primaryButton:hover{
    background-color: var(--primary-button-hover);
    cursor: pointer;
    color: var(--back-color);
}
/**

CSS FOR SECONDARY BUTTON

 */
.secondaryButton{
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--secondary-button);
    text-decoration: none;
    font-size: large;
    color: var(--original-back-color);
}
.secondaryButton:hover{
    background-color: var(--secondary-button-hover);
    cursor: pointer;
    color: var(--back-color);
}
/**

CSS FOR DELETE BUTTON

 */
.deleteButton{
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--delete-button);
    text-decoration: none;
    font-size: large;
    color: var(--original-back-color);
}
.deleteButton:hover{
    background-color: var(--delete-button-hover);
    cursor: pointer;
    color: var(--back-color);
}
/**

CSS FOR FORM

 */
.form_container{
    background-color: var(--back-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2rem;
    gap: 10px 20px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.inner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.form_container div{
    margin-top: .5rem;
}
.form_container h2{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
.form_container label{
    font-weight: bold;
    font-size: large;
}
.form_container input{
    padding: .5rem;
    width: auto;
    border-radius: 5px;
    min-width: 98.7%;
}
.form_container select{
    width: auto;
    border-radius: 5px;
    padding: .5rem;
    min-width: 100%;
}
.form_container .buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.form_container p{
    font-size: x-large;
}
.form_container textarea{
    height: calc(3 * 1.2rem);
    width: 99.5%;
    font-size: 1.2em;
}
/**

    CSS FOR BUTTONS CONTAINER

 */
.button_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
}
.titulo{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}
.schedule_form_container{
    display: flex;
    flex-direction: column;
    background-color: var(--back-color);
    padding: 2rem;
    border-radius: 5px;
    width: 25%;
    gap: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.active_hour {
    background-color: var(--hover-color);
}

/* Estilo general para el contenedor del paginador */
.paginator {
    display: flex;
    justify-content: center; /* Centra el paginador horizontalmente */
    margin-top: 20px;
}

/* Estilo para la lista de paginación */
.paginator ul.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Estilo para cada enlace de paginación */
.paginator ul.pagination li {
    margin: 0 4px; /* Espaciado entre los elementos */
}

.paginator ul.pagination li a {
    color: rgba(0, 0, 0, 0.87); /* Color del texto similar a MUI */
    text-decoration: none; /* Sin subrayado */
    padding: 6px 16px; /* Espaciado interno similar a MUI */
    margin: 0; /* Sin espaciado externo */
    border: 1px solid rgba(0, 0, 0, 0.23); /* Borde similar a MUI */
    border-radius: 16px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición para los cambios */
    font-size: 0.875rem; /* Tamaño de fuente similar a MUI */
}

/* Estilo para el enlace de paginación activo */
.paginator ul.pagination li.active a {
    background-color: rgba(0, 0, 0, 0.08); /* Fondo gris claro */
    color: rgba(0, 0, 0, 0.87); /* Texto en color oscuro */
    border: 1px solid rgba(0, 0, 0, 0.23); /* Borde similar */
}

/* Estilo para el hover de los enlaces */
.paginator ul.pagination li a:hover {
    background-color: rgba(0, 0, 0, 0.08); /* Fondo gris claro al pasar el ratón */
    color: rgba(0, 0, 0, 0.87); /* Texto oscuro */
}

/* Estilo adicional para el estado deshabilitado */
.paginator ul.pagination li.disabled a {
    color: rgba(0, 0, 0, 0.38); /* Color de texto deshabilitado */
    background-color: transparent; /* Fondo transparente */
    border-color: rgba(0, 0, 0, 0.23); /* Borde deshabilitado */
    cursor: not-allowed; /* Cursor no permitido */
}

/* Media query para mejorar la responsividad */
@media (max-width: 768px) {
    .paginator ul.pagination {
        flex-wrap: wrap;
    }

    .paginator ul.pagination li a {
        padding: 4px 12px; /* Ajuste del espaciado interno para pantallas pequeñas */
        margin: 2px; /* Ajuste del espaciado externo para pantallas pequeñas */
    }
}