{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'Users/card_personal.html.twig' %}
        {% include 'Schedule/card.html.twig' %}
    </div>
{% endblock %}