{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'users/card_personal.html.twig' %}
        {% include 'schedule/card.html.twig' %}

        <a href="{{ path('app_change_password') }}" class="card card-password">
            <div class="card-icon">
                <i class="ti ti-brand-samsungpass" style='font-size: 8rem; opacity: 0;'></i>
            </div>
            <div class="card-text">
                <h3>Cambiar contraseña</h3>
            </div>
        </a>
    </div>
{% endblock %}