{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'users/card_personal.html.twig' %}
        {% include 'schedule/card.html.twig' %}
    </div>
{% endblock %}